main {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 40px 20px;
}
<<<<<<< HEAD

body {
    background-image: url('../images/fondo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
=======
>>>>>>> 3c0431fb618e4dfd47b0abfd863dc3b32ff8e811

.exercise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    max-width: 90%;
    padding: 40px;
    border-radius: 20px;
    gap: 30px;

    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.exercise-title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.exercise-container img {
    width: 320px;
    max-width: 100%;
    border-radius: 12px;
}

.exercise-content {
    width: 100%;
    line-height: 1.8;
    font-size: 18px;

    overflow-wrap: break-word;
    word-break: break-word;
}
